{% extends "account/base.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    <div class="container text-center">

    <h1>{% trans "Sign In" %}</h1>
    
        <p class="mb-4">
            {% blocktrans %} Are you sure you want to sign out? {% endblocktrans %}
        </p>

        <form method="post" class="form p-5" action="{% url 'account_logout' %}" >
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary w-25 mb-2">
                {% trans "Sign Out" %}
            </button> 
        </form>
    </div> 
{% endblock content %}
