{% extends "account/base.html" %}
{% load allauth i18n %}
{% block title %}{% trans "Sign Out" %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="form p-5 text-center">
        <h1 style="font-style: italic;">{% trans "Sign Out" %}</h1>
        <p class="mb-4" style="color: var(--text-muted);">{% blocktrans %}Are you sure you want to sign out?{% endblocktrans %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary w-50">{% trans "Sign Out" %}</button>
        </form>
    </div>
</div>
{% endblock content %}