{% extends "account/base.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Signup" %}
{% endblock title %}
{% block content %}
    <div class="container text-center">

    <h1>{% trans "Sign Up" %}</h1>
    
        <p class="mb-4">
            {% blocktrans %} Already have an account? Then please <a href="{{ login_url }}"> sign in </a>.{% endblocktrans %}
        </p>
        {% url 'account_login' as login_url %}

        <form method="post" class="form p-5" action="{% url 'account_signup' %}" >
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary w-25 mb-2">
                {% trans "Sign Up" %}
            </button> 
        </form>
    </div> 
{% endblock content %}
